body {
  margin-top: 100px;
  text-align: center;
  color: white;
  background-color: #2c7359;
}

h1 {
  font-size: 60px;
}

h3 {
  font-weight: 200;
  font-size: 30px;
}

h4 {
  font-weight: 100;
  font-size: 18px;
}

.head {
  margin: auto auto 100px auto;
  width: 50%;
}

a {
  margin: 20px auto 10px auto;
  background-color: white;
  color: #2c7359;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 70%;
  transition: border-radius 0.5s;
}

a:hover {
  background-color: #fcba03;
  color: black;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
    -6px -6px 12px rgba(255, 255, 255, .15);
  overflow: hidden;
}

.practice:hover {
  background-color: #0362fc;
  color: black;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
    -6px -6px 12px rgba(255, 255, 255, .15);
  overflow: hidden;
}
