body {
  text-align: center;
  color: #E4DCCF;
  background-color: #7D9D9C;
}

h1 {
  font-size: 60px;
}

h3 {
  font-weight: 400;
  font-size: 36px;
}

h4 {
  font-weight: 300;
  font-size: 50px;
}

.top {
  font-size: 60px;
  margin: 50px auto;
}

.image {
  border-radius: 50%;
}

.group {
  font-weight: 400;
  font-size:30px;
  
}

.xerhatn {
  font-weight: 900;
  width: 80%;
  font-size: 27px;
  margin: 60px 0% 70px 10%;
}

.buttoms {
  position: relative;
  margin: 100px auto 100px auto;
}

a,.semster {
  color: #2c7359;
  background-color: #E4DCCF;
  width: 70%;
  border-radius: 10px;
  transition: border-radius 0.5s;
  display: block;
  margin: 30px auto 20px auto;
  padding: 23px;
  text-decoration: none;
  font-size: 200%;
}

.semster:hover {
  background-color: #576F72;
  color: #E4DCCF;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
    -6px -6px 12px rgba(255, 255, 255, .15);
  overflow: hidden;
}

.insta-div {
  background: none;
  margin: auto auto 200px auto;
  max-width: 8%;
  height: 70px;
  position: relative;
  border-radius: 20px;
  transition: border-radius 0.5s;
}

i {
  color: black;
  margin-top: 15px;
  font-size: 40px;
}

i:hover {
  background-color: none;
  color:white;
}

a {
  margin: 20px auto 10px auto;
  background-color: #E4DCCF;
  color: #2c7359;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  width: 70%;
  transition: border-radius 0.5s;
}

a:hover {
  background-color: #576F72;
  color: #E4DCCF;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
    -6px -6px 12px rgba(255, 255, 255, .15);
  overflow: hidden;
}

.practice:hover {
  background-color:  #e6a46e;
  color: black;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
    -6px -6px 12px rgba(255, 255, 255, .15);
  overflow: hidden;
}

.head {
  margin: auto auto 100px auto;

.rehind {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 100;
}

